.bio-font{
    font-family: 'Inconsolata', monospace;
}
.intro-font{
    font-family: 'Righteous', cursive;
}
.ling-font{
    font-family: 'Space Mono', monospace;
}
.logo-font{
    font-size: 3rem;
}